:root{
    --azure: #add8e6;
    --orange: #daa520;
    --blue-dark: #00008b;
    --rose-dark: #ee82ee;
    --white: #ffffff;
    --blue-light: #1e90ff;
    --gray: #d3d3d3;
    --rose-light: #ffc0cb;
    --green-dark: #228b22;
    --black: #23272a;
    --rose-red: #f08080;
    --green-blue: #20b2aa;
    --green-light: #7fffd4;
}

*{  /*{   reset globale */
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
html, body {  
    height: 100vh; /*BIG AS BROWSER WINDOW, %1 is 1% of parent height(SET HEIGHT 100%!!)*/
    /* use CSS SELECTORS */
}
.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:7.3vh;
    background-color: var(--azure);
}

#header_div{
    display: flex;
    justify-content: space-between;
    width: 60vw;  /* stretch div width to 100% of web page */
    background-color: var(--orange);
}

#header_div section{
    display:flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 1rem;
    border: 2px dashed;
}

#header_logo{
    justify-content: start;
}
#header_link{
    justify-content: center;
}
#header_login{
    justify-content: end;
}

/*region main*/ 
.flex-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90.7vh; /* Resto dello spazio */
    background-color: var(--black);
}

.box{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main_blue {
    background-color: var(--blue-dark);
}
.main_blue .inner_box{
    width: 50%;
    height: 70%;
    background-color: var(--rose-dark);
    border: 1px dashed black;
   /*  margin: 10px; */ /* Distanza dai lati */
}


.main_white{
    background-color: var(--white);
}
.main_white .inner_box{
    width: 70%;
    height: 70%;
    background-color: var(--rose-dark);
    border: 1px dashed black;
    display: flex;
    flex-direction: row-reverse;
}
.main_white .inner_box .inner_box_rose{
    background-color: var(--rose-light);
    width: 40%; 
    height: 100%;
}



.main_gray{
    background-color: var(--gray);
}

.main_green{
    background-color: var(--green);
}

