:root{
    --azure: #add8e6;
    --orange: #daa520;
    --blue-dark: #00008b;
    --rose-dark: #ee82ee;
    --white: #ffffff;
    --blue-light: #1e90ff;
    --gray: #d3d3d3;
    --rose-light: #ffc0cb;
    --green-dark: #228b22;
    --black: #23272a;
    --rose-red: #f08080;
    --green-blue: #20b2aa;
    --green-light: #7fffd4;
}

*{  /*{   reset globale */
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
html, body {  
    height: 100vh; /*BIG AS BROWSER WINDOW, %1 is 1% of parent height(SET HEIGHT 100%!!)*/
    /* use CSS SELECTORS */
}
.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

**region debug**
.debug {
    border: 1px dashed;
}

.debug header{
    background-color: var(--azure);
    height:7.3vh;
}

#header_div{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    height: 4vh;
    background-color: var(--orange);
}

#header_div section{
    display:flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 0.5rem;
    border: 2px dashed;
}

#header_logo{
    display: flex;
    justify-content: start;
}
#header_link{
    display: flex;
    justify-content: center;
}
#header_login{
    display: flex;
    justify-content: end;
}



