:root{
    --azure: #add8e6;
    --orange: #daa520;
    --blue-dark: #00008b;
    --rose-dark: #ee82ee;
    --white: #ffffff;
    --blue-light: #1e90ff;
    --gray: #d3d3d3;
    --rose-light: #ffc0cb;
    --green-dark: #228b22;
    --black: #23272a;
    --rose-red: #f08080;
    --green-blue: #20b2aa;
    --green-light: #7fffd4;
}

*{  /*{   reset globale */
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
html, body {  
    height: 100%; /*BIG AS BROWSER WINDOW, %1 is 1% of parent height(SET HEIGHT 100%!!)*/
    /* use CSS SELECTORS */
}
body {
    display: flex;
    flex-direction: column;
}

header, footer {
    flex-shrink: 0; /* Non si restringono */
}
main {
    flex-grow: 1; /* Occupa tutto lo spazio rimanente */
    display: flex;
    flex-direction: column;
}



/* HEADER */
.flex-header{
    display:flex;
    justify-content: center;
    align-items: center;
    height:7.3vh;
    background-color: var(--azure);
}

#header_div{
    display: flex;
    justify-content: space-between;
    width: 50%;  /* stretch div width to 100% of web page */
    background-color: var(--orange);
}

#header_div section{
    display:flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 1rem;
    border: 1px dashed;
}

#header_logo{
    justify-content: start;
}
#header_link{
    justify-content: center;
}
#header_login{
    justify-content: end;
}


/* MAIN */
#up_container_height{
    height: 65%;
}
#low_container_height{
    height: 35%;
}


.upper_container, .lower_container {
    width: 100%;
   /*  height: 50%; */ /* Dividi in due sezioni uguali */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*region main*/ 
.flex-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
}
.box{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* BOX BG DARK BLUE */
.main_blue {
    background-color: var(--blue-dark);
}
.main_blue .inner_box{
    width: 56%;
    background-color: var(--rose-dark);
    border: 1px dashed black;
}

/* BOX BG WHITE */
.main_white{
    background-color: var(--white);
}
.inner_box{
    width: 50%;
    height: 70%;
    border: 1px dashed black;
    display: flex;
    flex-direction: row-reverse;
}
.inner_box_rose{
    background-color: var(--rose-light);
    width: 40%; 
    height: 100%;
    border: 1px dashed black;
}
.inner_box_blue-light{
    background-color: #1e90ff;
    height: 100%;
    width: 60%;
    border: 1px dashed black;
}

/* BOX BG GRAY */
.main_gray{
    background-color: var(--gray);
}

.main_green{
    background-color: var(--azure);
}

.main_green .inner_box{
    background-color: var(--green-dark);
}
.box.main_green {
    flex-grow: 6; 
}
.box.main_black {
    flex-grow: 4; 
}


.main_black .inner_box{
    background-color: var(--rose-red);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* STILL NOT WORKING! */
.inner_box .inner_box_green-light { 
    background-color: var(--green-light);
    flex-grow: 1;
}


/* FOOTER */
.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    height: 7vh; /* Altezza fissa per il footer */
}

.main_acquamarine .inner_box{
    background-color: var(--green-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.main_acquamarine .inner_box div{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1 0rem;
    width: 10%;
    height: 50%;
    border: 1px dashed;
    background-color: var(--rose-red);
    overflow: hidden; /* Nasconde il testo che esce fuori */
    text-overflow: ellipsis; /* Aggiunge "..." quando il testo è troppo lungo */
    white-space: nowrap; /* Evita che il testo vada su più righe */
}